body,
html {
    width: 100%;
    height: 100%;
}

body{
    padding-top:100px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover 
{
     color:whitesmoke; 
     text-decoration:none; 
     cursor:pointer;  
}

#content{
    min-height: 600px;
}

.content-img {
     padding-right: 100px;
	
}

#banner_image {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
}

#banner_image2 {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background:-webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../img/watch_banner.jpg) no-repeat;
	background:-moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../img/watch_banner.jpg) no-repeat;
	background:-ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../img/watch_banner.jpg) no-repeat; 
	background:linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../img/watch_banner.jpg) no-repeat;
    background-size: cover;
}

#banner_image3 {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background:-webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../img/mobile_banner_2.jpg) no-repeat;
	background:-moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../img/mobile_banner_2.jpg) no-repeat;
	background:-ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../img/mobile_banner_2.jpg) no-repeat; 
	background:linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../img/mobile_banner_2.jpg) no-repeat;
    background-size: cover;
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

#banner_content h1{
	font-size: 3em;
    font-weight: 300;
    letter-spacing: 14px;
    text-transform: uppercase;
	
}

#banner_content p {
	letter-spacing: 5px;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffb900;
    margin-top: 1em;
	
}

#banner_content2 {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
   /* background-color: rgba(0, 0, 0, 0.7);*/
    max-width: 660px;
}

#banner_content2 h1 {
	font-size: 3em;
    font-weight: 300;
    letter-spacing: 14px;
    text-transform: uppercase;
	
}

#banner_content2 p {
	letter-spacing: 12px;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffb900;
    margin-top: 1em;
	
}

#banner_content3 {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    max-width: 660px;
}
#banner_content3 h1 {
	font-size: 3em;
    font-weight: 300;
    letter-spacing: 14px;
    text-transform: uppercase;
	
}
#banner_content3 p {
	letter-spacing: 12px;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffb900;
    margin-top: 1em;
	
}

h3.banner_below {
	 font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: 1em;
    text-transform: uppercase;
	
}
h3.banner_below span {
	font-weight:300;
	
}

.text-justify {
	text-align: justify;
}

#item_list {
    padding-top: 50px;
}
/*#item_list a {
	text-decoration: underline;
}*/

/*This code ensures that when we navigate to a particular section of a page, the section does not get lost behind the header*/
#cameras:before, #watches:before, #shirts:before{
    display: block; 
    content: " "; 
    margin-top: -85px; 
    height: 85px; 
    visibility: hidden;
}


#login-panel .panel-footer{
    font-weight:normal;
}

footer {
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}

.red{
    color:red;
}

#settings-container{
    margin-bottom:10px;
}

.navbar-brand{
    font-size:20px;
}

@media(max-width:768px) {
    #banner_content {
        padding-bottom: 15%;
    }
    footer{
        text-align:left;
    }
}

.remove_item_link{
    color:#0000ff;
}

.modal-header,  .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
.modal-footer {
      background-color: #f9f9f9;
  }